/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {



}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    h1.hero{
        font-size:40px;
    }
    #home h2.heroh2{
        font-size:20px;
    }
}

/* port breakpoint */
@media only screen and (max-width : 832px) {
    #portfolio {
        text-align: center;
    }
    #portfolio .ulContainer{
        justify-content:center;
    }
    #portfolio ul{
        text-align: left;
    }
}

/* about breakpoint */
@media only screen and (max-width : 770px) {
    #about{
        text-align: center;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    h1.hero{
        font-size:30px;
    }
    #home h2.heroh2{
        font-size:16px;
    }
}

/* Hail Satan */ 
@media only screen and (max-width : 666px) {
    header nav{
        display:none;
    }
    header img.menuicon{
        display:block;
    }
    header{
        justify-content:space-between; 
    }

    header nav.responsiveNavStyles{
        opacity: 0;
        left:0;
        display: block;
        position: absolute;
        background: white;
        width: 100%;
        top: -350px;
        border-bottom-right-radius: 10px;
        padding: 14px;
        border-bottom-left-radius: 10px;       
    }

    header nav.responsiveNavStyles.notshown{ 
        animation-name: examplem;
        animation-duration: 0.5s;
    }

    header nav.responsiveNavStyles.shown{   
        opacity: 1;  
        top:70px;
        animation-name: example;
        animation-duration: 0.5s;
    } 

    header nav.responsiveNavStyles ul li{
        display: block;
        text-align: center;
    }

    header nav.responsiveNavStyles ul li a{
        display: block;
        text-align: center;
        padding:14px;
        color:#444;
    }


    header nav.responsiveNavStyles ul li a:hover{
        text-shadow: none;
        color:#e9ad64;
    }


    header .socialNav{
        margin-top: 24px;
        text-align: center;
    }

    header nav.responsiveNavStyles ul li{
        display: block;
        text-align: center;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 632px) {
    h1.hero{
        font-size:24px;
    }
    #home h2.heroh2{
        font-size:14px;
        font-weight: bold;
    }
    #about figure{
        max-width:90%;
    }

    #about .aboutContent{
        max-width:90%;
    }

    #portfolio figure{
        max-width:90%;
    }
    #portfolio .portcontanet{
        max-width: 90%;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    h1.hero{
        font-size:18px;
    }
    #home h2.heroh2{
        font-size:14px;
        font-weight: normal;
    }
    #home p{
        font-size:10px;
        color:#efefef;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}

@keyframes example {
    from {
        opacity: 0;
        top:-350px
    }
    to {
        opacity: 1;
        top:70px;
    }
}

@keyframes examplem {
    from {
        opacity: 1;
        top:70px;
    }
    to {
        opacity: 0;
        top:-350px;
    }
}

/* The element to apply the animation to */
